{% extends 'base.html' %}
{% load static %} 
{% block content %}
<style>
  .underlineLinksServicos {
       text-decoration: underline 5px #0066FF;  
      }
</style>
<div class="bg-black p-1 mt-3 mb-3 text-white play-regular text-center">
  <p class="h1">Serviços</p>
</div>
<!-- cards de serviços -->
<div class="container-fluid pt-3">
  <div class="container text-center">
    <div class="row center">
      <div class="col-12 col-md-6 col-lg-3 mb-5 d-flex justify-content-center animacao bloco">
        <div class="card rounded-4 shadow" style="width: 15rem;">
            <img src="{% static 'img/Serviços/1.png' %}" class="card-img-top rounded-4" alt="">
            <div class="card-body">
                <h5 class="card-title">Formatação de Computadores</h5>
                <p class="card-text">Formatação com a instalação do Sistema Operacional</p>
                <a href="https://wa.me/5584933005937?text=Olá!%20Gostaria%20de%20solicitar%20a%20formatação%20do%20meu%20computador." class="btn btn-primary">Solicitar</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-5 d-flex justify-content-center animacao bloco">
        <div class="card rounded-4 shadow" style="width: 15rem;">
          <img src="{% static 'img/Serviços/7.png' %}" class="card-img-top rounded-4" alt="...">
          <div class="card-body">
            <h5 class="card-title">Criação de Aplicativos Android</h5>
            <p class="card-text">Criamos aplicativos Android simples personalizados para atender suas necessidades pessoais</p>
            <a href="https://wa.me/5584933005937?text=Olá!%20Gostaria%20de%20solicitar%20a%20criação%20de%20um%20app%20android." class="btn btn-primary">solicitar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5 d-flex justify-content-center animacao bloco" >
        <div class="card rounded-4 shadow" style="width: 15rem;">
          <img src="{% static 'img/Serviços/9.png' %}" class="card-img-top rounded-4" alt="...">
          <div class="card-body ">
            <h5 class="card-title">Criação de Sites</h5>
            <p class="card-text">Criamos todos os códigos-fonte do seu Site: html, css e JavaScript</p>
            <a href="https://wa.me/5584933005937?text=Olá!%20Gostaria%20de%20solicitar%20a%20criação%20de%20um%20site." class="btn btn-primary">solicitar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5 d-flex justify-content-center animacao bloco">
        <div class="card rounded-4 shadow" style="width: 15rem;">
          <img src="{% static 'img/Serviços/6.png' %}" class="card-img-top rounded-4" alt="...">
          <div class="card-body">
            <h5 class="card-title">Montagem de Computador</h5>
            <p class="card-text">Comprou as peças do computador, mas está com dúvidas ou não sabe como montá-las?</p>
            <a href="https://wa.me/5584933005937?text=Olá!%20Gostaria%20de%20solicitar%20a%20cmontagem%20de%20um%20computador." class="btn btn-primary">solicitar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5 d-flex justify-content-center animacao bloco">
        <div class="card rounded-4 shadow" style="width: 15rem;">
            <img src="{% static 'img/Serviços/3.png' %}" class="card-img-top rounded-4" alt="">
            <div class="card-body">
                <h5 class="card-title">Criação de Currículo</h5>
                <p class="card-text">Criamos um currículo personalizado para você se destacar no mercado de trabalho</p>
                <a href="https://wa.me/5584933005937?text=Olá!%20Gostaria%20de%20solicitar%20a%20criação%20de%20um%20currículo." class="btn btn-primary">Solicitar</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-5 d-flex justify-content-center animacao bloco">
        <div class="card rounded-4 shadow" style="width: 15rem;">
          <img src="{% static 'img/Serviços/5.png' %}" class="card-img-top rounded-4" alt="...">
          <div class="card-body">
            <h5 class="card-title">Recuperação de Arquivos Deletados</h5>
            <p class="card-text">Recuperamos imagens, PDFs, Apresentações, entre outros formatos de arquivos que foram apagados do computador</p>
            <a href="https://wa.me/5584933005937?text=Olá!%20Gostaria%20de%20solicitar%20a%20recuperação%20de%20arquivos%20deletados." class="btn btn-primary">solicitar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5 d-flex justify-content-center animacao bloco" >
        <div class="card rounded-4 shadow" style="width: 15rem;">
          <img src="{% static 'img/Serviços/4.png' %}" class="card-img-top rounded-4" alt="...">
          <div class="card-body">
            <h5 class="card-title">Edição de Trabalhos Acadêmicos</h5>
            <p class="card-text">Realizamos formatação de trabalhos acadêmicos de acordo com as normas adotadas pela sua instituição de ensino</p>
            <a href="https://wa.me/5584933005937?text=Olá!%20Gostaria%20de%20solicitar%20a%20edição%20de%20um%20trabalho%20acadêmico." class="btn btn-primary">solicitar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5 d-flex justify-content-center animacao bloco">
        <div class="card rounded-4 shadow" style="width: 15rem;">
          <img src="{% static 'img/Serviços/2.png' %}" class="card-img-top rounded-4" alt="...">
          <div class="card-body">
            <h5 class="card-title">Instalação de Programas</h5>
            <p class="card-text">Realizamos a instalação e pequenas configurações de programas para deixá-los funcionais</p>
            <a href="https://wa.me/5584933005937?text=Olá!%20Gostaria%20de%20solicitar%20a%20instalação%20de%20um%20programa." class="btn btn-primary">solicitar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5 d-flex justify-content-center animacao bloco">
        <div class="card rounded-4 shadow" style="width: 15rem;">
          <img src="{% static 'img/1.png' %}" class="card-img-top rounded-4" alt="...">
          <div class="card-body">
            <h5 class="card-title">Solicitar Outro Serviço de Informática</h5>
            <p class="card-text">Não encontrou o que procura?</p>
            <a href="https://wa.me/5584933005937?text=Olá!%20Gostaria%20de%20solicitar%20outro%20serviço%20de%20informática." class="btn corWhats ">Entrar em Contato</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}